/* todo lots of styling for forms, esp. buttons and labels*/
body {
  background-color: #eee;
  font-family: arial;
  font-size: 110%;
}

a {
  color:#5b88c5;
  text-decoration: none;
}

h2 {
  margin-left:1%;
}

h3 {
  margin-left: 1%;
}

.dashboard {
  margin-top : 52px;
}

.welcome {
  margin-top : 52px;
}

.welcome h1 {
  margin-top: 50px;
  margin-left: 1%;
}

.welcome input {
  width:30%
}

.welcome button {
  width:12%;
  padding:1%;
  font-size: 80%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
}

.welcome div {
  margin-left : 3%;
}

.incentiviser-search-form, .bounty-lookup-form {
  padding-top:1%;
  margin-bottom:5%;
  width:49%;
  margin-left: 3%;
}

.bounty-response-form {
  padding-top:1%;
  margin-bottom:5%;
  width:49%;
}

.incentiviser-search-form label, .bounty-lookup-form label, .bounty-response-form label {
  margin-left: 3%;
}

.incentiviser-search-form input, .bounty-lookup-form input, .bounty-response-form input {
  width:60%;
  margin-left:4.5%;
  margin-top:1%;
  margin-bottom:1%;
}

.incentiviser-search-form button, .bounty-lookup-form button, .bounty-submission button {
  padding:1%;
  font-size: 80%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
  margin-left:4.5%;
}

.view-switch {
  width:18%;
  padding:1%;
  float:right;
  font-size: 80%;
  margin-top: -6%;
  margin-right:5%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
}

.my-business {
  margin-top : 52px;
  background-color: #fff;
  padding-bottom: 3%;
  overflow-y: scroll;
}

.supplier-dashboard {
  margin-top : 52px;
  padding-bottom: 3%;
  overflow-y:auto;
}

.catalogue-feed {
  padding-top: 0.5%;
}

.catalogue-feed-customer {
  padding-bottom: 3%;
}

.catalogue-feed-customer h3 {
  padding:1%;
  padding-top:3%;
}

.product-card {
  display:inline-grid;
  outline-color: #eee;
  outline-style: solid;
  outline-width:2px;
  margin-left: 13px;
  width: 32%;
  height: 20%;
}

.order-btn {
  width:50%;
  margin-left: 25%;
  margin-bottom: 1%;
  font-size: 80%;
  color: #6b98e5;
  border: 1px solid #6b98e5;
  background: transparent;
  box-shadow: none;
}

.order-btn:hover {
  width:50%;
  margin-left: 25%;
  margin-bottom: 1%;
  font-size: 80%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
}

.product-card h4 {
  margin-left: 3%;
}

.product-card h5 {
  font-size: 20px;
  text-align: center;
}

.new-order-form {
  margin-top: -3%;
}

.new-order-form input[type="text"] {
  width:70%;
  font-size:90%;
  margin-left:5%;
}

.send-new-order-btn {
  width:40%;
  padding:1%;
  font-size: 80%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
  margin-left: 2%;
}

.close-form-btn {
  float:right;
  width:40%;
  padding:1%;
  font-size: 80%;
  color: #6b98e5;
  border: 1px solid #6b98e5;
  background: transparent;
  box-shadow: none;
  margin-right: 2%;
}

.popup {
  width:75%;
  margin-left:15%;
  z-index:99;
  position:fixed;
  font-size: 150%;
  color: #6b98e5;
  border: 1px solid #6b98e5;
  background: #eee;
  box-shadow: none;
  opacity:1;
  text-align: center;
  max-height:85%;
  overflow-y:scroll;
  padding-bottom: 2%;
  padding-right: 3%;
  margin-bottom: 2%;
}

/* TODO is extension a thing in css? */
.popup-product-ov {
  width:70%;
  margin-left:15%;
  z-index:99;
  position:fixed;
  font-size: 150%;
  color: #6b98e5;
  border: 1px solid #6b98e5;
  background: #eee;
  box-shadow: none;
  opacity:1;
  text-align: left;
  max-height:90%;
  overflow-y:scroll;
  padding-right: 3%;
  padding-left: 3%;
}

.popup-product-ov p {
  margin-left:3%;
}

.popup-x-btn {
  width:30px;
  height:30px;
  float:right;
  margin-right:-3%;
  background-color: #d33;
}

.new-product-supply-steps {
  margin-top:1%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
  font-size: 60%;
  border: 1px solid #7ba8f5;
}

.new-product-supply-steps td {
  padding-left: 1%;
  width:14%;
  border: 1px solid #7ba8f5;
}

.new-product-supply-steps th {
  padding-left: 1%;
  width:14%;
}

.toggle-expand-collapse {
  width:18%;
  padding:1%;
  float:right;
  font-size: 80%;
  margin-top: -4.5%;
  margin-right:5%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
}

.toggle-expand-collapse-customer {
  width:18%;
  padding:1%;
  float:right;
  font-size: 80%;
  margin-top:-4.5%;
  margin-right:5%;
  background-color: #337ab7;
  border: 1px solid #337ab7;
  color: #fff;
  box-shadow: none;
}

.new-product-details, .new-biz-details, .product-actions-form {
  text-align:left;
}

.new-product-details label, .new-biz-details label, .product-actions-form label{
  margin-left:3%;
  font-size:80%;
  width: 30%;
}

.new-product-details input, .new-biz-details input, .product-actions-form input {
  float:right;
  width: 45%;
}

.product-mod-btn {
  float:right;
}

.current-product-details {
  font-size : 18px;
  margin:0%;
  padding:0%;
}

.product-actions-form h5 {
  margin-bottom:0%;
  margin-left:2%;
}

.product-card p, .product-card label, .product-card input {
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.product-card img {
  width:90%;
  margin-left: 5%;
}

.supplier-instructions-img {
  max-height: 200px;
  max-width:90%;
  margin-left: 5%;
}

.popup-product-ov img {
  max-width:40%;
  max-height:200px;
  margin-left: 3%;
  float:right;
  margin-top:-5%;
  margin-right:5%;
}

.my-business h3 {
  padding-top:3%;
  padding:1%;
}

.store-overview {
  margin-top : 52px;
  background-color: #fff;
  width:100%;
  overflow-y: auto;
}

.supplier-dashboard h3, .supplier-dashboard p {
  padding:1%;
  margin-top:0%;
  margin-left:1%;
}

.org-info-and-actions {
  margin-left:3%;
}

.org-info-and-actions ul {
  margin-bottom: 1%;
  margin-top: 0%;
  padding-top: 0%;
}

/*TODO make styling of input fields make them line up with label*/

.org-info-and-actions input {
  float:right;
  margin-right: 10%;
  width:40%;
}

.org-mgmt-section {
  border: 1px solid #6b98e5;
  padding:1%;
  margin-top:0%;
  margin-bottom: 0%;
  width:70%;
}

.org-mgmt-form p, label {
  font-size:16px;
}

.org-mgmt-form h5 {
  font-size: 28px;
}

.org-mgmt-form h6 {
  font-size: 26px;
}

.org-mgmt-form button {
  float:right;
  margin-right:10%;
  margin-top:-2%;
}

.owner-link {
  margin-left:1%;
}

.all-x-displayed {
  font-size:14px;
}

.how-to-share {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 1%;
  padding-top: 1%;
  border: 1px solid #337ab7;
  width:96%;
}

.how-to-share p {
  margin-left: 2%;
}

.bounty-submission {
  float:right;
  width:50%;
  padding-bottom:1%;
}

.bounty-submission input {
  width:400px;
  margin-top:4%;
  margin-bottom:4%;
  margin-left: 3%;
}

.order-checker {
  float:right;
  width:45%;
  margin-top: -9%;
}

.order-checker button, .order-checker input {
  float:right;
  margin-right: 1%;
}

.order-checker input {
  width:99%;
}

.deploy-product {
  float:right;
  margin-top: -2.5%;
}

.header ul {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  max-height:50px;
}

ul img {
  height : 43px;
  margin-top : 2.5px;
  margin-left: 10px;
}

ul li {
  float:right;
}

ul li a {
  display: block;
  color: #6b98e5;;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #6b98e5;
  color:white;
}

#add-supply-step-product-actions-form label, input {
  font-size:70%;
}

#add-supply-step-product-actions-form h6 {
  margin-bottom:0%;
  margin-left:2%;
}

#new-product-btn {
  margin-left: 2%;
  color: #eee;
  border: 1px solid #eee;
  background: #6b98e5;
  /* TODO make this same height as products padding-bottom:5.8%; */
}

#payout-btn {
  margin-top:1%;
}

#incentiviser-guide-click {
  float:right;
  font-size:70%;
  margin-top:-3%;
  color:#6b98e5;
  text-decoration: underline;
}

#option-header {
  margin-left:-50%;
}

#header {
  margin-bottom:5%;
}
